<!DOCTYPE html>
<html
  style="margin: 0; padding: 0; background-color: #1d1d28"
  bgcolor="#1d1d28">
<style type="text/css">
    body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
    .ExternalClass {width:100%;}
    .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
</style>

<body
  style="margin: 0; padding: 0; background-color: #1d1d28"
  bgcolor="#1d1d28">
<div style="background-color: #1d1d28" bgcolor="#1d1d28">
  <div style="display: flex; justify-content: center; padding-top: 100px">
    <span
      style="
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            color: #606068;
            font-size: 24px;
            padding-bottom: 5px;
          ">VLO Boards</span
    >
  </div>
  <span
    style="
          display: block;
          margin: 0 auto;
          padding-bottom: 100px;
          font-family: Arial;
          font-style: normal;
          font-weight: bold;
          color: white;
          font-size: 64px;
          text-align: center;
        ">
    Potwierdź swój adres email
  </span>

  <div style="display: flex; justify-content: center; margin-top: 30vh">
    <a href="@Model.Link" style="color: inherit; text-decoration: inherit">
      <span
        style="
              background: #6d5dd3;
              border-radius: 80px;
              font-family: Arial;
              font-style: normal;
              font-weight: bold;
              color: white;
              padding: 35px 50px;
              font-size: 35px;
            ">
        Potwierdzam
      </span></a
    >
  </div>

  <div
    style="
          display: flex;
          justify-content: center;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100vw;
        ">
    <span
      style="
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            color: #606068;
            font-size: 24px;
            padding-bottom: 15px;
          ">Niechciany email? Zignoruj go lub zgłoś</span
    >
  </div>
</div>
</body>
</html>
